# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.chunkhound.json
/public/posts/notebooks/output/
/.local/
/public/posts/notebooks/**/*.csv
/public/posts/notebooks/data/
/public/posts/notebooks/*.ipynb
/public/posts/notebooks/*.zip
/public/posts/figures/*.csv
