/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* CSS HEX */
  /* CSS HEX */
  --rich-black: #001219ff;
  --midnight-green: #005f73ff;
  --dark-cyan: #0a9396ff;
  --tiffany-blue: #94d2bdff;
  --vanilla: #e9d8a6ff;
  --gamboge: #ee9b00ff;
  --alloy-orange: #ca6702ff;
  --rust: #bb3e03ff;
  --rufous: #ae2012ff;
  --auburn: rgb(240, 35, 42);
  --black: #000000ff;
  --card: #223247;

  --prim: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
  --background: #001219ff;

  /* colors */
  --primary-100: #c4b3b5;
  --primary-200: #c4aaad;
  --primary-300: #c79da3;
  --primary-400: #c6878f;
  --primary-500: #c87c86;
  --primary-600: #c4747f;
  --primary-700: #c16874;
  --primary-800: #bb495c;
  --primary-900: #bc293d;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --dimGray: #67697c;
  --pblue-light: #47586d;
  --pblue-med: #253d5b;
  --pblue-dark: #0b2a4f;
  --rosy-brown: #b79d94;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --secondary: #c6878f;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--background);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1500px;
  --fixed-width: 600px;
  --view-width: 95vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  height: 150vh;
  transition: 0.3s linear;
  background: var(--background);
  background-image: radial-gradient(
    circle 25vh at 5vh 50vh,
    rgba(255, 255, 255, 0.1) 1vh,
    transparent
  );
  background-repeat: no-repeat, repeat, repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem); /* Large heading */
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

/* BIGGER FONTS */
/* h1 {
  font-size: clamp(3rem, 6vw, 6rem);
}

h2 {
  font-size: clamp(2.5rem, 5vw, 5rem);
}

h3 {
  font-size: clamp(2rem, 4vw, 4rem);
}

h4 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h5 {
  font-size: clamp(1rem, 2vw, 2rem);
}
 */

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* form */

.form {
  width: 100%;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--prim);
  animation: spinner 0.6s linear infinite;
}

/* title */

.title-underline {
  background: var(--prim);
  width: 4rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.title {
  font-size: 5rem;
  text-align: center;
}
.hello {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hello svg {
  height: 15vw;
}

/* 
============= 
PROJECT CSS
=============
*/
.page {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 1rem;
}
.projects-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
}
.tags {
  flex-wrap: wrap;
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}
.tag {
  color: var(--prim);
  font-weight: 150;
  font-size: 1rem;
  background: var(--card);
  padding: 0.5rem;
}
.project {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: grid;
  gap: 2rem;
  grid-template-columns: 50% 50%;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  transition: var(--transition);
}
.project-image {
  border-radius: 10px;
  border: solid 2px var(--prim);
}
.tech-used {
  color: #bbb;
  font-weight: 150;
}
.right {
  display: grid;
  grid-auto-rows: min-content;
  gap: 1rem;
}
.project-title {
  color: white;
  font-weight: 100;
}
.project-para {
  color: white;
  font-weight: 100;
  font-size: 1.5rem;
}
.project img {
  transition: 0.3s linear;
  border-radius: 0.5rem;
  filter: brightness(80%);
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
}
.project:hover img {
  filter: brightness(100%);
}

.project h5 {
  text-align: center;
  padding: 1rem 0;
  color: black;
}
.project-syn {
  width: "60%";
  min-width: "300px";
  margin: "0 auto 3vw auto";
}
/* ========= Landing Page ========== */

.contact-header {
  text-align: center;
  color: var(--prim);
}
#text {
  animation: fill 0.5s ease forwards 2.2s;
}
.info,
.subtitle {
  animation: fill 0.5s ease forwards 2.2s;
}
#text path:nth-child(1) {
  stroke-dasharray: 900px;
  stroke-dashoffset: 900px;
  animation: line-anim 1s ease forwards;
}

#text path:nth-child(2) {
  stroke-dasharray: 550px;
  stroke-dashoffset: 550px;
  animation: line-anim 1s ease forwards 0.3s;
}

#text path:nth-child(3) {
  stroke-dasharray: 450px;
  stroke-dashoffset: 451px;
  animation: line-anim 2s ease forwards 0.6s;
}

#text path:nth-child(4) {
  stroke-dasharray: 450px;
  stroke-dashoffset: 451px;
  animation: line-anim 2s ease forwards 0.9s;
}

#text path:nth-child(5) {
  stroke-dasharray: 1100px;
  stroke-dashoffset: 1100px;
  animation: line-anim 2s ease forwards 1.2s;
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--prim);
  }
}
.btn {
  background: transparent;
  width: fit-content;

  font-weight: 150;
  padding: 0.5rem;

  border-radius: 0rem;
  border: solid 1px var(--prim);
  color: var(--prim);
}
.btn:hover {
  background: var(--prim);
  color: var(--background);
  transition: 0.3s linear;
  cursor: pointer;
  border: solid 2px transparent;
}
.resumebut {
  font-size: 2rem;
  margin: 2.5rem 0;
}
.btn svg {
  vertical-align: bottom;
  margin-right: 0.5rem;
}
.projbut {
  font-size: 1.4rem;
}
.btns {
  display: flex;
  gap: 1.5rem;
}
.scrollicon {
  display: grid;
  justify-items: center;
  color: var(--prim);
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  margin: 10vh auto;
}
.vibing {
  animation: MoveUpDown 1s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: -10px;
  }
  50% {
    bottom: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .btn {
    background: transparent;
    margin: 2rem 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0rem;
    border: solid 2px var(--prim);
    color: var(--prim);
  }
  .btn:hover {
    background: var(--prim);
    color: var(--background);
    transition: 0.3s linear;
    cursor: pointer;
    border: solid 2px transparent;
  }
  .hello {
    grid-template-columns: 1fr;
  }
  .hello svg {
    height: 15vw;
  }
  .hello img {
    visibility: hidden;
    position: absolute;
  }
  .info {
    width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    background: transparent;
    margin: 2rem 0;
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 0rem;
    border: solid 1.3px var(--prim);
    color: var(--prim);
  }
  .btn:hover {
    background: var(--prim);
    color: var(--background);
    transition: 0.3s linear;
    cursor: pointer;
    border: solid 2px transparent;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.subtitle {
  color: white;
  text-transform: initial;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 2rem 0rem;
}
.info {
  width: 100%;
  color: white;
  text-transform: initial;
  font-weight: 300;
  line-height: 1.2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.fade-in {
  -webkit-animation: 3.4s ease 0s normal forwards 1 fadein;
  animation: 3.4s ease 0s normal forwards 1 fadein;
}

.fade-in-quick {
  -webkit-animation: 1s ease 0s normal forwards 1 fadeinquick;
  animation: 1s ease 0s normal forwards 1 fadeinquick;
}
@keyframes fadeinquick {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeinquick {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  font-size: (1.5rem, 3vw, 3rem);
  font-weight: 700;
  color: var(--prim);
}

/* ====== RESUME ============== */

.resume-title {
  color: "black";
  text-transform: initial;
  line-height: "1";
  width: 80%;
  margin: 1rem 0;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: -0.0275rem;
}

.section {
  border-top: solid black;
  border-width: 1px;
  margin-top: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.section-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.subsection {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-bottom: 2rem;
  min-height: 10rem;
  gap: 3rem;
}

.subsection-social {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0rem 2rem;
  font-size: 5rem;
  padding-bottom: 2rem;
  min-height: 10rem;
}
.section-content > .subsection ~ .subsection {
  border-top: solid black;
  border-width: 1px;
}

.subText {
  line-height: 1.5;
  font-size: 1.25rem;
  color: rgb(75, 75, 75);
}

.res-section-title {
  margin-top: 2rem;
  text-transform: lowercase;
}

.subsection-subtitle {
  margin-bottom: 0.8rem;
}

.hover:hover {
  transform: scale(1.05, 1.05);
  transition: 0.1s linear;
  color: var(--background);
  cursor: pointer;
}

.hover-2:hover {
  transform: scale(1.05, 1.05);
  transition: 0.1s linear;
  color: var(--dark);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .abouts {
    gap: 1rem !important;
    margin: 0 auto !important;
  }
  .section {
    display: block;
    border-top: none;
  }
  .subsection {
    border-top: solid black;
    border-width: 1px;
  }
  .subsection-social {
    margin: 0;
    width: 100%;
    border-top: solid black;
    border-width: 1px;
  }
  .res-section-title {
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }
}

@media screen and (max-width: 768px) {
  .subsection {
    display: block;
  }
  .subsection img {
    display: none;
  }
  .subsection-content {
    margin: 0 0 0 5vw;
  }
  .subsection-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .resume-title {
    font-size: x-large;
  }
  .subsection-subtitle {
    display: none;
  }
  .project-syn {
    font-size: 1rem;
    margin: 0;
  }
  .project {
    grid-template-columns: 1fr;
  }
  .abouth2 {
    margin: 1rem !important;
  }
  .sectionh1 {
    margin: 2rem auto !important;
  }
  .skill {
    padding: 0 !important;
  }
  .skill-item {
    padding: 0.8rem !important;
    font-size: 1rem !important;
  }
  .projbut {
    margin: 1rem 0;
  }
}

/* THREJS */

/* Canvas {
  position: absolute !important;
  z-index: 1000;
} */
.socialLand {
  display: grid;
  margin: 0 auto;
}

.inTouch {
  margin-top: 4vw;
}

/* ==== About My ======= */

.sectionh1 {
  color: white;
  margin: 5rem auto 3rem auto;
  font-weight: 100;
  text-align: center;
}

.abouts {
  z-index: 2;
  width: 80vw;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 3rem auto;
}
.about {
  /* display: flex; */
  align-content: flex-start;
  margin-top: 0;
  text-align: center;
  width: 500px;
}
.skillh2 {
  color: white;
  font-weight: 100;
}
.skill {
  width: 80vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 3rem;
}
.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.skill-item {
  padding: 1rem;
  border-radius: 2px;
  color: var(--prim);
  font-size: 1.5rem;
  font-weight: 100;
  background-color: var(--card);
}
.abouth2 {
  margin: 1.5rem 0;
  font-weight: 100;
  color: var(--prim);
  text-transform: initial;
}
.aboutp {
  color: white;
  font-weight: 100;
  line-height: 2rem;
  font-size: 1.7rem;
}
.bottomrow {
  display: grid;
  margin: 5rem auto;
  color: white;
  text-align: center;
  width: 80vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.social {
  font-weight: 100;
  cursor: pointer;
}
.social:hover {
  color: var(--prim);
}
footer {
  color: white;
  align-content: center;
  margin: 3rem auto;
  font-weight: 100;
  text-align: center;
}

/* Research */
.research-title {
  color: white;
  font-weight: 100;
  cursor: pointer;
}
.research-title:hover {
  color: var(--prim);
}

.research {
  margin-bottom: 2rem;
}

.rs-title {
  color: var(--prim);
  font-weight: 100;
  text-align: center;
}

.name {
  text-align: center;
  font-weight: 100;
  margin: 2rem 0;
  color: var(--prim);
}

.para {
  text-indent: 1rem;
  color: white;
  font-size: large;
  line-height: 1.5rem;
  margin: 1rem auto;
  width: 90%;
  text-align: justify;
}

.bib {
  color: white;
  width: 88%;
  margin: 0.5rem auto;
}
